<div class="container">
    <div class="row text-center mb-1">
        <h3 class="fw-bolder mb-0">Categories</h3>
    </div>
</div>
<hr>
<div class="container">
    <div class="row justify-content-end mb-3">
        <a class="btn btn-success col-3 me-3" data-bs-toggle="modal" data-bs-target="#addCategoryModal" href="#"><i
                class="fa-solid fa-plus"></i>
            Add Category
        </a>
    </div>

    <div class="row">
        <table id="usersTable datatables" class="table  mb-0">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Category</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each categories }}
                <tr>
                    <th scope="row" class="nr">{{inc @index}}</th>
                    <td>{{category}}</td>
                    <td>
                        <a class="btn btn-primary btn-sm px-2" data-bs-toggle="modal" onclick="editCategory(this)"
                            category={{category}} objId={{_id}} data-bs-target="#editCategoryModal" href="#"><i
                                class="fa fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-danger btn-sm px-2"
                            onclick="return confirm('are you sure you want to delete {{category}}?')"
                            href="/admin/category/delete/{{_id}}"><i class="fa fa-trash"></i></a>
                    </td>

                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{!-- Add Category --}}
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Add Category</h4>
                </div>
                <div class="d-flex flex-column text-center">
                    <form action="" id="addCategoryForm" novalidate>
                        <div class="form-group">
                            <input type="text" class="form-control" id="addFormcategory" placeholder="Category. . ."
                                required value="">
                        </div>
                        <div class="my-3"></div>
                        <button type="submit" class="btn btn-primary btn-block btn-round">Add category</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Edit Category --}}
<div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Edit Category</h4>
                </div>
                <div class="d-flex flex-column text-center">
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control" id="categoryEditInput" placeholder="Category. . ."
                                required value="">
                        </div>
                        <div class="my-3"></div>
                        <button type="submit" class="btn btn-primary btn-block btn-round">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //    $('td').on('click', 'a', () => {
    //        console.log("cliced A")
    //    })
    let item
    let id
    let categoryEditInput
    function editCategory(e) {
        item = e.getAttribute("category")
        id = e.getAttribute("objId")
        categoryEditInput = document.querySelector('#categoryEditInput')
        categoryEditInput.value = item
    }
    const editCategoryForm = document.querySelector('#editCategoryModal')
    var url = window.location.origin
    editCategoryForm.addEventListener('submit', e => {
        e.preventDefault();
        $.ajax({
            url: `${url}/admin/category/edit/${id}`,
            method: "PUT",
            data: { category: categoryEditInput.value },
            success: res => {
                window.location.reload()
            },
            error: err => {
                console.log(err)
                alert("Error")
            }
        })
    })

    const addCategoryForm = document.querySelector('#addCategoryForm')
    addCategoryForm.addEventListener('submit', e => {
        e.preventDefault();
        let category = document.querySelector('#addFormcategory')
        if (!addCategoryForm.checkValidity()) {
        } else {
            $.ajax({
                url: `${url}/admin/addcategoty`,
                method: "POST",
                data: { category: category.value },
                success: res => {
                    console.log(res)
                    window.location.reload()
                },
                error: err => {
                    console.log(err)
                    alert(err)
                }
            })
        }
        addCategoryForm.classList.add('was-validated');
    })
</script>