<style>
    select {
        border: 1px solid hsl(0, 0%, 67%);
    }
</style>

<div class="container">
    <div class="row text-center mb-1">
        <h3 class="fw-bolder mb-0">Orders</h3>
    </div>
</div>
<hr>
<div class="container">
    {{!-- <div class="row justify-content-end mb-3">
        <a class="btn btn-success col-3 me-3" href="/admin/product/add"><i class="fa-solid fa-plus"></i>
            Add Product
        </a>
    </div> --}}

    <div class="row">
        {{!-- <table id="usersTable datatables" class="table mb-0"> --}}
            <table id="orderTable" class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Product</th>
                        <th scope="col">Payment-ID</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Status</th>
                        <th scope="col">Address</th>
                        <th scope="col">Updated On</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders }}
                    <tr data-orderId="{{orderId}}" data-productId="{{productId}}">
                        <td scope="row">{{createdAt}}</td>
                        <td>{{email}}</td>
                        <td>{{product}}</td>
                        <td>{{paymentId}}</td>
                        <td>{{qty}}</td>
                        <td>
                            {{!-- {{orderStatus}} --}}
                            <select class="statusChange" name="orderStatus" id=_{{productId}}{{orderId}}>
                                <option value="placed">Placed</option>
                                <option value="dispatched">Dispatched</option>
                                <option value="cancelled">Canclled</option>
                                <option value="delivered">Delivered</option>

                            </select>
                        </td>
                        <script>
                            $(function () {

                                var status = {
                                    placed: 0,
                                    dispatched: 1,
                                    cancelled: 2,
                                    delivered: 3
                                    
                                }
                                $('#_{{productId}}{{orderId}}').val($('#_{{productId}}{{orderId}} option').eq(status.{{ orderStatus }}).val())
                            $('#_{{productId}}{{orderId}}').val() === 'placed' ? $('#_{{productId}}{{orderId}}').css({ 'backgroundColor': 'blue', 'color': 'white' }) :
                                $('#_{{productId}}{{orderId}}').val() === 'dispatched' ? $('#_{{productId}}{{orderId}}').css({ 'backgroundColor': 'green', 'color': 'white' }) :
                                    $('#_{{productId}}{{orderId}}').css({ 'backgroundColor': 'red', 'color': 'white' }) 
                        })
                      //  options.value = "{{product.category._id}}"
                        </script>
                        <td class="small">{{user}},
                            {{address.addr1}},{{address.addr2}},{{address.town}},
                            {{address.state}},{{address.country}},{{address.zip}}
                        </td>
                        <td class="date">{{updatedAt}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>
</div>
<script>

    $(function () {
        $('#orderTable').DataTable({
            order: [[0, 'desc']],
        });
    })


    var url = window.location.origin
    document.body.addEventListener('change', e => {
        if (e.target.classList.contains('statusChange')) {
            const select = e.target
            const tr = select.closest('tr')
            const orderId = $(tr).attr('data-orderId')
            const prodId = $(tr).attr('data-productId')
            const orderNewStatus = select.value
            const updatedDate = new Date().toLocaleDateString()
            const dateCell = $(tr).find('.date')

            swal.fire({
                title: "Change status?",
                html: `You are going to change status to <h3><b> ${orderNewStatus} </b></h2>`,
                icon: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Proceed",
            }).then(function (result) {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `${url}/admin/order/changestatus`,
                        method: "POST",
                        data: { orderId, prodId, orderNewStatus },
                        success: res => {
                            console.log(orderNewStatus)
                            orderNewStatus === 'placed' ? $(select).css({ 'backgroundColor': 'blue', 'color': 'white' }) :
                                orderNewStatus === 'dispatched' ? $(select).css({ 'backgroundColor': 'green', 'color': 'white' }) :
                                    $(select).css({ 'backgroundColor': 'red', 'color': 'white' })
                            dateCell.text(updatedDate)
                        },
                        error: err => {
                            console.log(err)
                        }
                    })
                } else {
                    window.location.reload()
                }
            })
        }
    })
</script>
