<style>
    select {
        border: 1px solid hsl(0, 0%, 67%);
    }
</style>

<div class="container">
    <div class="row text-center mb-1">
        <h3 class="fw-bolder mb-0">Orders</h3>
    </div>
</div>
<hr>
<div class="container">
    {{!-- <div class="row justify-content-end mb-3">
        <a class="btn btn-success col-3 me-3" href="/admin/product/add"><i class="fa-solid fa-plus"></i>
            Add Product
        </a>
    </div> --}}

    <div class="row">
        {{!-- <table id="usersTable datatables" class="table mb-0"> --}}
            <table id="orderTable" class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Order-Id</th>
                        <th scope="col">Payment-ID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Updated On</th>
                        <th class"w-auto" scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders }}
                    <tr data-orderId="{{_id}}">
                        <td scope="row">{{createdAt}}</td>
                        <td>{{user.email}}</td>
                        <td>{{_id}}</td>
                        <td>{{paymentId}}</td>
                        <td id="statusSec">
                            {{!-- {{orderStatus}} --}}
                            {{#noteq orderStatus "refunded"}}
                            {{#noteq orderStatus "returned"}}
                            <select class="statusChange" name="orderStatus" data-status={{orderStatus}} id=_{{_id}}>
                                <option value="placed" style="background-color: blue;">Placed</option>
                                <option value="dispatched" style="background-color: Yellow;">Dispatched</option>
                                <option value="delivered" style="background-color: green;">Delivered</option>
                                <option value="cancelled" style="background-color: red;">Canclled</option>
                            </select>
                            {{else}}
                            <select class="statusChange" name="orderStatus" data-status={{orderStatus}} id=_{{_id}}>
                                <option value="returned" style="background-color: orange;">Returned</option>
                                <option value="refunded" style="background-color: green;">Refunded</option>
                            </select>
                            {{/noteq}}
                            {{else}}
                            <p class="text-capitalize text-success fw-bold" data-status={{orderStatus}} id=_{{_id}}>
                                {{orderStatus}}</p>
                            {{/noteq}}
                        </td>
                        <script>

                      //  options.value = "{{product.category._id}}"
                        </script>
                        <td class="date">{{updatedAt}}</td>
                        <td class"w-auto"><button class="btn btn-primary p-0 px-1 ms-3"
                                onclick="viewOrderDetails(this)"><i class="fas fa-circle-info"></i></button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>
</div>
<script>

    $(function () {

        var statusObj = {
            placed: 0,
            dispatched: 1,
            cancelled: 2,
            delivered: 3
        }

        //$('.statusChange').each((i, e) => {
        //  console.log(e.find(':selected').text())
        //})
        const selectElements = document.querySelectorAll('.statusChange');
        selectElements.forEach(select => {
            const status = select.getAttribute('data-status')
            select.value = status
            select.value === 'placed' ? $(select).css({ 'backgroundColor': 'blue', 'color': 'white' }) :
                select.value === 'dispatched' ? $(select).css({ 'backgroundColor': 'yellow', 'color': 'black' }) :
                    select.value === 'delivered' ? $(select).css({ 'backgroundColor': 'green', 'color': 'white' }) :
                        select.value === 'returned' ? $(select).css({ 'backgroundColor': 'orange', 'color': 'white' }) :
                            select.value === 'refunded' ? $('#statusSec').html('<p class="text-capitalize text-success fw-bold" data-status=refunded >refunded</p>')  :
                                $(select).css({ 'backgroundColor': 'red', 'color': 'white' }) // cancelled
        });

    })


    var url = window.location.origin
    document.body.addEventListener('change', e => {
        if (e.target.classList.contains('statusChange')) {
            const select = e.target
            const tr = select.closest('tr')
            const orderId = $(tr).attr('data-orderId')
            const orderNewStatus = select.value
            const updatedDate = new Date().toLocaleDateString()
            const dateCell = $(tr).find('.date')

            swal.fire({
                title: "Change status?",
                html: `You are going to change status to <h3><b> ${orderNewStatus} </b></h2>`,
                icon: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Proceed",
            }).then(function (result) {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `${url}/admin/order/changestatus`,
                        method: "POST",
                        data: { orderId, orderNewStatus },
                        success: res => {
                            orderNewStatus === 'placed' ? $(select).css({ 'backgroundColor': 'blue', 'color': 'white' }) :
                                orderNewStatus === 'dispatched' ? $(select).css({ 'backgroundColor': 'yellow', 'color': 'black' }) :
                                    orderNewStatus === 'delivered' ? $(select).css({ 'backgroundColor': 'green', 'color': 'white' }) :
                                        orderNewStatus === 'refunded' ? $('#statusSec').html('<p class="text-capitalize text-success fw-bold" data-status=refunded >refunded</p>'):
                                            $(select).css({ 'backgroundColor': 'red', 'color': 'white' })
                            dateCell.text(updatedDate)
                        },
                        error: err => {
                            console.log(err)
                        }
                    })
                } else {
                    window.location.reload()
                }
            })
        }
    })
</script>

{{!-- Modal --}}
<div class="modal fade" id="orderDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container mb-5 mt-3">
                <div class="row d-flex align-items-baseline">
                    <div class="col-xl-9">
                        <p style="color: #7e8d9f;font-size: 14px;">Invoice >> <strong class="paymentId">ID:
                                #123-123</strong></p>
                    </div>
                    <div class="col-xl-3 float-end">
                        <a class="btn btn-light text-capitalize border-0 p-0 px-2 float-end  me-3"
                            data-mdb-ripple-color="dark" onclick="downloadExcel()"><i
                                class="fas fa-print text-primary"></i></a>
                        <a class="btn btn-light text-capitalize p-0 px-2 float-end " data-mdb-ripple-color="dark"
                            onclick="downloadPDF()"><i class="far fa-file-pdf text-danger"></i></a>
                    </div>
                    <hr>
                </div>

                <div class="container">
                    <div class="col-md-12">
                        <div class="text-center">
                            <img width="100" src="/images/logo.png" alt="">
                            <p class="pt-0">Rifurn.com</p>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-xl-8">
                            <ul class="list-unstyled">
                                <li class="text-muted"><span id="name" style="color:hsl(202, 7%, 50%) ;">John
                                        Lorem</span>
                                </li>
                                <li class="text-muted" id="addr">Street, City</li>
                                <li class="text-muted" id="sc">State, Country</li>
                                <li class="text-muted" id="mobile"><i class="fas fa-phone"></i> 123-456-789</li>
                            </ul>
                        </div>
                        <div class="col-xl-4">
                            <p class="text-muted mb-0 fw-bold">Invoice</p>
                            <ul class="list-unstyled mt-0">
                                <li class="text-muted"><span class="fw-bold">ID: </span><span
                                        class="paymentId">#123-456</span></li>
                                <li class="text-muted"> <span class="fw-bold">Date: </span> <span id="date">Jun 23,2021
                                </li>
                                <li class="text-muted"> <span class="me-1 fw-bold">Status:</span><span
                                        class="text-capitalize" id="status">
                                        Unpaid</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row my-2 mx-1 justify-content-center">
                        <table class="table table-striped table-borderless" id="detailsTable">
                            <thead style="background-color:#0b0c0c ;" class="text-white">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">

                            </tbody>

                        </table>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            {{!-- <p class="ms-3">Billing address</p> --}}

                        </div>
                        {{!-- <div class="col-xl-4">
                            <ul class="list-unstyled">
                                <li class="text-muted"><span class="text-black me-3">SubTotal</span> <span
                                        class="subTotal">1110</span></li>

                            </ul>
                            <p class="text-black float-start">
                                <span class="text-black me-3"> Total</span><span class=" ms-4 total">$1221</span>
                            </p>
                        </div> --}}
                        <div class="col-4" style="font-size: 12px;">
                            <p class="text-black mb-1">
                                <span class="text-black me-auto ms-3"> SubTotal</span>
                                <span class="ms-auto subTotal float-end">$1221</span>
                            </p>
                            <p class="text-black mb-1">
                                <span class="text-black me-auto ms-3"> Discount</span>
                                <span class="ms-auto discount float-end">$0</span>
                            </p>
                            <p class="text-black fw-bold">
                                <span class="text-black me-auto ms-3"> Total</span>
                                <span class="ms-auto total float-end">$1221</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function downloadPDF() {
        var details = document.getElementById("orderDetails");
        var newWin = window.open('', 'Print-Window');
        newWin.document.open();
        newWin.document.write('<html><head><style>@media print { @page { size: A4; margin: 0; } }</style></head><body onload="window.print()">' + details.outerHTML + '</html>'); newWin.document.close();
        setTimeout(function () { newWin.close(); }, 10);
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

<script>
    function downloadExcel() {
        var table = document.getElementById("orderDetails");
        var worksheet = XLSX.utils.table_to_sheet(table);
        var workbook = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
        XLSX.writeFile(workbook, "table.xlsx");
    }
</script>

<script>

    function viewOrderDetails(self) {
        $('#orderDetails').modal('show')
        const tr = $(self).closest('tr')
        const orderId = $(tr).attr('data-orderId')
        $.ajax({
            url: `${url}/admin/order/details`,
            method: "POST",
            data: { orderId: orderId },
            success: res => {
                $('#name').text(res[0].address.firstname + " " + res[0].address.lastname)
                $('#addr').text(res[0].address.addr1 + ", " + res[0].address.addr2)
                $('#sc').text(res[0].address.state + ", " + res[0].address.country)
                $('#sc').text(res[0].address.state + ", " + res[0].address.country)
                $('#mobile').html('<i class="fas fa-phone"></i>' + res[0].address.mobile)
                $('.paymentId').text(res[0].paymentId)
                let date = new Date(res[0].createdAt)
                date = date.toLocaleDateString()
                $('#date').text(date)
                $('#status').text(res[0].orderStatus)

                let total = 0
                res.forEach((data, index) => {
                    $('#tableBody').append(`
                                <tr>
                                    <th scope="row">${index + 1}</th>
                                    <td>
                                        <img src=https://res.cloudinary.com/dz9knbtwi/image/upload/h_50,w_50/${data.image[0]} alt="" srcset="">
                                    </td>
                                    <td>${data.productName}</td>
                                    <td>${data.quantity}</td>
                                    <td>${data.price}</td>
                                    <td>${data.amount}</td>
                                </tr>
                    `)
                    total += data.amount
                })
                $('.subTotal').text(total)
                $('.discount').text(`₹${res[0].discount}`)
                $('.total').text(`₹${total - res[0].discount}`)
            },
            error: err => {
                console.log(err)
            }
        })
    }

    $('#orderDetails').on('hide.bs.modal', function () {
        $('#tableBody').text('')
    });
</script>