<div class="container">
    <div class="row text-center mb-1">
        <h3 class="fw-bolder mb-0">Products</h3>
    </div>
</div>
<hr>
<div class="container">
    <div class="row justify-content-end mb-3">
        <a class="btn btn-success col-3 me-3" href="/admin/product/add"><i class="fa-solid fa-plus"></i>
            Add Product
        </a>
    </div>

    <div class="row">
        <table id="usersTable datatables" class="table mb-0">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Description</th>
                    <th scope="col">Images</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each products }}
                <tr>
                    <th scope="row" class="nr">{{inc @index}}</th>
                    <td>{{productName}}</td>
                    <td>{{price}}</td>
                    <td>{{category.category}}</td>
                    <td>{{stock}}</td>
                    <td class="small">{{description}}</td>
                    <td>
                        {{#each images }}
                        <img src=https://res.cloudinary.com/dz9knbtwi/image/upload/h_50,w_50/{{this}} alt="" srcset="">
                        {{/each}}
                    </td>

                    <td>
                        <a href="/admin/product/edit/{{_id}}" class="btn btn-primary btn-sm px-2">
                            <i class="fa fa-pen-to-square"></i>
                        </a>

                        <button class="btn btn-danger btn-sm px-2"
                            onclick="deleteProduct(this,'{{_id}}', '{{productName}}', '{{images}}')">
                            <i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script>
            var url = window.location.origin
            function deleteProduct(self, id, productName, images) {
                var $tr = $(self).closest('tr')
                swal.fire({
                    title: "Delete?",
                    text: `Are you sure you want to delete category: "${productName}"!`,
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                }).then(function (result) {
                    if (result.isConfirmed) {
                        $tr.remove()
                        $.ajax({
                            url: `${url}/admin/product/delete/${id}?img=${images}`,
                            method: "GET",
                            success: res => {
                                console.log(res)
                            },
                            error: err => {
                                console.log(err)
                            }
                        })
                    }
                })
            }
        </script>
    </div>
</div>