<div class="container">
    <div class="row text-center mb-1">
        <h3 class="fw-bolder mb-0">Sales Report</h3>
    </div>
</div>
<hr>
<div class="container">
    <div class="row justify-content-end mb-3">
        <div class="col-xl-3 me-auto">
            <a class="btn btn-light text-capitalize border-0 p-0 me-3" onclick="downloadExcel()" data-mdb-ripple-color="dark"><i
                    class="fas fa-print text-primary"></i></a>
            <a class="btn btn-light text-capitalize p-0" onclick="downloadPDF()" data-mdb-ripple-color="dark"><i
                    class="far fa-file-pdf text-danger"></i></a>
        </div>
        <a style="font-size: 13px;" class="btn btn-success col-auto me-3" href="/admin/salesreport">
            Daily
        </a>
        <a style="font-size: 13px;" class="btn btn-success col-auto me-3" href="/admin/salesreport?q=monthly">
            Monthly
        </a>
        <a style="font-size: 13px;" class="btn btn-success col-auto me-3" href="/admin/salesreport?q=yearly">
            Yearly
        </a>
    </div>

    <div class="row">
        {{!-- <table id="usersTable datatables" class="table mb-0"> --}}
            <table id="salesReport" class="table mb-0 text-end">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Orders</th>
                        <th scope="col">Products</th>
                        <th scope="col">Total</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Final</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each salesReport }}
                    <tr data-orderId="{{_id}}">
                        <th scope="row" class="nr">{{inc @index}}</th>
                        <td scope="row">{{_id}}</td>
                        <td>{{orderCount}}</td>
                        <td>{{productCount}}</td>
                        <td>₹ {{subTotal}}</td>
                        <td>₹ {{discount}}</td>
                        <td style="font-weight: 500;">₹ {{total}}</td>
                        {{/each}}
                </tbody>
            </table>
    </div>
    <div class="row ">
        <div class="col-auto ms-auto my-3 pe-0">
            <h4 class="ms-auto text-dark fw-bold">Grand total <span id="grandTotal" class="ms-3">₹ {{grandTotal}}</span>
            </h4>
        </div>
    </div>
</div>
<script>
    function downloadPDF() {
        var details = document.getElementById("salesReport");
        var newWin = window.open('', 'Print-Window');
        newWin.document.open();
        newWin.document.write('<html><head><style>@media print { @page { size: A4; margin: 0; } }</style></head><body onload="window.print()">' + details.outerHTML + '</html>'); newWin.document.close();
        setTimeout(function () { newWin.close(); }, 10);
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

<script>
    function downloadExcel() {
        var table = document.getElementById("salesReport");
        var worksheet = XLSX.utils.table_to_sheet(table);
        var workbook = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
        XLSX.writeFile(workbook, "table.xlsx");
    }
</script>