<div class="container">
    <div class="row">
        {{#each products }}
        <div class="col-md-3" style=" display: inline-block; ">
            <!--  Single Grid product Start -->
            <div class="single-grid-product mb-40">
                <div class="product-image">
                    <a href="/product/view/{{_id}}" tabindex="0">
                        {{#each images }}
                        <img src="http://res.cloudinary.com/dz9knbtwi/image/upload/v1680054685/{{this}}.webp"
                            class="img-fluid" alt="" style="border:1px solid hsla(0, 0%, 57%, 0.5)">
                        {{/each}}
                    </a>

                    <div class="product-action d-flex justify-content-between align-items-center">
                        <button class="btn bttn  btn-link product-btn text-decoration-none py-0 px-2 border-0" data-productId="{{_id}}"
                            onclick="addtoCart(this)" tabindex="0">Add to
                            Cart</button>
                        <button class="btn btn-link p-0" onclick="addtowishlist('{{_id}}')"  tabindex="0">
                            <i class="add-to-wish fa-regular fa-heart"></i>
                        </button>
                    </div>

                </div>
                <div class="product-content">
                    <div class="product-category-rating">
                        <span class="category"><a href="/shop" tabindex="0">{{category.category}}</a></span>
                        <span class="rating">
                            <i class="fa-solid fa-star" style="color: hsla(0, 0%, 57%, 0.7);"></i>
                            <i class="fa-solid fa-star" style="color: hsla(0, 0%, 57%, 0.7);;"></i>
                            <i class="fa-solid fa-star" style="color: hsla(0, 0%, 57%, 0.7);;"></i>
                            <i class="fa-solid fa-star" style="color: hsla(0, 0%, 57%, 0.7);;"></i>
                            <i class="fa-solid fa-star-half-stroke" style="color: hsla(0, 0%, 57%, 0.7);;"></i>
                            {{!-- <i class="fa-regular fa-star" style="color: #8de41b;"></i>
                            <i class="fa-solid fa-star-half-stroke" style="color: #8de41b;"></i> --}}

                        </span>
                    </div>

                    <h3 class="title"> <a style="color: hsla(0, 0%, 0%, 0.85)" href="single-product.html"
                            tabindex="0">{{productName}}</a></h3>
                    <p class="product-price"><span class="discounted-price">{{price}}</span></p>
                </div>
            </div>
            <!--  Single Grid product End -->
        </div>
        {{/each}}
    </div>
</div>