<div class="page-banner-section section bg-image" data-bg="./assets/images/bg/breadcrumb.jpg"
    style="background-image: url(/images/banner.webp);">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h2>Shopping Cart</h2>
                    <ul class="page-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>Shopping Cart</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="cart-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 ">
    <div class="container sb-border pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
        <div class="row">

            <div class="col-12">
                {{#if cartItems}}
                <!-- Cart Table -->
                <div class="cart-table table-responsive mb-30">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pro-thumbnail">Image</th>
                                <th class="pro-title">Product</th>
                                <th class="pro-price">Price</th>
                                <th class="pro-quantity">Quantity</th>
                                <th class="pro-subtotal">Total</th>
                                <th class="pro-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each cartItems }}
                            <tr data-productId="{{productId}}" data-cartId={{_id}}>
                                <td class="pro-thumbnail"><a href="#"><img
                                            src="http://res.cloudinary.com/dz9knbtwi/image/upload/v1680054685/{{image}}.webp"
                                            alt="Product"></a></td>
                                <td class="pro-title"><span>{{product}}</span></td>
                                <td class="pro-price"><span>₹ {{price}}</span></td>
                                <td class="pro-quantity">
                                    <div class="pro-qty">
                                        {{#gt quantity 1}}
                                        <button id="decBtn" onclick="changeQuantity(this, -1)"
                                            class="dec qtybtn">-</button>
                                        {{/gt}}

                                        {{#lt quantity 2}}
                                        <button id="decBtn" onclick="changeQuantity(this, -1)" style="display: none"
                                            class="dec qtybtn">-</button>
                                        {{/lt}}
                                        <input class="qty" type="text" value={{quantity}}>
                                        <button id="incBtn" onclick="changeQuantity(this, 1)"
                                            class="inc qtybtn">+</button>
                                    </div>
                                </td>
                                <td class="pro-subtotal"><span class="subTotal">₹ {{subTotal}}</span></td>
                                <td class="pro-remove">
                                    <button class="dlt-btn" onclick="deleteFromCart(this)"
                                        style="border: none; padding: 0; background: transparent;">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            {{/each}}


                        </tbody>
                    </table>
                    {{!--
                    <script>

                    </script> --}}
                </div>
                <div class="row my-5">
                    <div class="col-lg-6 col-12">

                        <!-- Discount Coupon -->
                        <div class="discount-coupon">
                            <h4 class="text-dark"> Discount Coupon Code</h4>
                            <form id="couponForm" action="">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25 text-dark">
                                        <input type="text" placeholder="Coupon Code" name="coupon" value="">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <button class="btn bttn py-3">Apply Code</button>
                                    </div>
                                </div>
                            </form>
                            <p class="text-danger cpnErrMsg"></p>
                        </div>
                    </div>


                    <!-- Cart Summary -->
                    <div class="col-lg-6 col-12 mb-30 d-flex">
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Cart Summary</h4>
                                <p>Total <span class="amount">₹ {{total}}</span></p>
                                <p>Discount <span id="discount">₹ {{discount}}</span></p>
                                <p>Shipping Cost <span>₹ 0</span></p>
                                <h2>Grand Total <span class="grandtotal">₹ {{grandTotal}}</span></h2>
                            </div>
                            <div class="cart-summary-button mb-5">
                                <button class="btn bttn"><a class="checkout-btn"
                                        href="/user/checkout">Checkout</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="row text-center my-5">
                <h1 class="mt-5 text-dark">Cart Empty</h1>
                <a href="/shop" class="col-2 btn bttn my-3 mx-auto py-3">Shop Now</a>
            </div>
            {{/if}}

        </div>
    </div>
</div>
<hr class="mb-5">

<script>
    let discount = 0
    const $grandTotal = $('.grandtotal')
    $('#couponForm').on('submit', function (e) {
        e.preventDefault()
        const couponCode = $('input[name=coupon]').val();
        $.ajax({
            type: "POST",
            url: `${url}/user/apply/coupon`,
            data: { couponCode },
            success: res => {
                console.log("🚀 ~ file: cart.hbs:161 ~ res:", res)
                if (res.err) $('.cpnErrMsg').text(res.msg)
                else if (res.success) {
                    Swal.fire(`Discount: ₹ ${res.discount}`)
                    $('.cpnErrMsg').text('')
                    $('#discount').text(`₹ ${res.discount}`)
                    discount = res.discount
                    if ($grandTotal.text().split(' ')[1] > discount) {
                        $grandTotal.text(`₹ ${$grandTotal.text().split(' ')[1] - discount}`)
                    } else {
                        $grandTotal.text(`₹ 0`)
                    }
                } else $('.cpnErrMsg').text(res)
            },
            error: err => {
                console.log(err)
            }
        })
    })

    var url = window.location.origin
    const amount = $('.amount')
    function changeQuantity(self, qty) {
        const $tr = $(self).closest('tr')
        const productId = $($tr).attr('data-productId')
        const $qtyField = $tr.find('input.qty')
        const $subTotalField = $tr.find('.subTotal')
        $.ajax({
            type: "POST",
            url: `${url}/user/change/product/quantity`,
            data: { productId: productId, quantity: qty },
            success: res => {
                discount = res.discount
                if (res.item.quantity === 1) {
                    $tr.find('#decBtn').hide()
                } else {
                    $tr.find('#decBtn').show()
                }
                $qtyField.val(res.item.quantity)
                $subTotalField.html(`₹ ${res.item.subTotal}`)
                amount.text(`₹ ${res.total}`)
                $grandTotal.text(`₹ ${res.total - discount}`)
            },
            error: err => {
                console.log(err)
            }
        })
    }

    function deleteFromCart(self) {
        const $tr = $(self).closest('tr')
        const productId = $($tr).attr('data-productId')
        const cartId = $($tr).attr('data-cartId')
        const subtotal = $($tr).find('.pro-subtotal')
        const subtotalValue = Number(subtotal.text().split(" ")[1])
        let totalValue = Number(amount.html().split(" ")[1])
        console.log("🚀 ~ file: cart.hbs:202 ~ deleteFromCart ~ totalValue:", totalValue)
        $.ajax({
            type: "DELETE",
            url: `${url}/user/cart/item/delete`,
            data: { productId: $($tr).attr('data-productId'), cartId: cartId },
            success: res => {
                console.log('discount: ', res)
                discount = res.discount
                $tr.remove()
                totalValue = totalValue - subtotalValue
                amount.text(`₹ ${totalValue}`)
                if (totalValue > discount) {
                    $grandTotal.text(`₹ ${totalValue - discount}`)
                } else {
                    $grandTotal.text(`₹ 0`)
                }

            },
            error: err => {
                console.log(err)
            }
        })
    }
</script>