<div class="page-banner-section section bg-image" data-bg="./assets/images/bg/breadcrumb.jpg"
    style="background-image: url(/images/banner.webp);">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h2>Checkout Items</h2>
                    <ul class="page-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>Checkout</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="checkout-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 ">
    <div class="container sb-border pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
        <div class="row my-5">
            <div class="col-12">

                <!-- Checkout Form Start-->
                <form id="placeOrderForm" action="" class="checkout-form text-dark" method="" novalidate>
                    <div class="row row-40">
                        <div class="col-lg-7">
                            <!-- Billing Address -->
                            <div id="billing-form" class="mb-10">
                                <h4 class="checkout-title text-dark">Billing Address</h4>
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>First Name*</label>
                                        <input class="form-control" required type="text" placeholder="First Name"
                                            name="firstname" value="{{userData.firstname}}">
                                    </div>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Last Name*</label>
                                        <input class="form-control" required type="text" placeholder="Last Name"
                                            name="lastname" value="{{userData.lastname}}">
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Phone no*</label>
                                        <input class="form-control" required type="tel" placeholder="Phone number"
                                            name="mobile" value={{userData.mobile}}>
                                    </div>
                                    <div class="col-12 mb-20">
                                        <label>Address*</label>
                                        <input class="form-control" required type="text" name="addr1"
                                            placeholder="Address line 1" value={{userData.address.addr1}}>
                                        <input class="form-control" required type="text" name="addr2"
                                            placeholder="Address line 2" value={{userData.address.addr2}}>
                                    </div>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Country</label>
                                        <input class="form-control" required type="text" name="country"
                                            placeholder="Country" value={{userData.address.country}}>
                                    </div>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Town/City</label>
                                        <input class="form-control" required type="text" name="town"
                                            placeholder="Town/City" value={{userData.address.town}}>
                                    </div>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>State</label>
                                        <input class="form-control" required type="text" name="state"
                                            placeholder="State" value={{userData.address.state}}>
                                    </div>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Zip Code</label>
                                        <input class="form-control" required type="text" name="zip"
                                            placeholder="Zip Code" value={{userData.address.zip}}>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="row">

                                <!-- Cart Total -->
                                <div class="col-12 mb-60">
                                    <h4 class="checkout-title text-dark">Cart Total</h4>
                                    <div class="checkout-cart-total">
                                        <h4>Product <span>Total</span></h4>
                                        <ul>
                                            {{#each cartItems }}
                                            <li>{{product}} X {{quantity}}<span>₹ {{subTotal}}</span></li>
                                            {{/each}}
                                        </ul>
                                        <p class="py-0">Sub Total <span>₹ {{total}}</span></p>
                                        <p class="py-0">Discount <span>₹ {{discount}}</span></p>
                                        <p class="py-0">Shipping Fee <span>₹ 0</span></p>
                                        <h4>Grand Total <span>₹ {{grandTotal}}</span></h4>
                                    </div>
                                </div>

                                <!-- Payment Method -->
                                <div class="col-12 mb-30">

                                    <h4 class="checkout-title mt-5">Payment Method</h4>

                                    <div class="checkout-payment-method">
                                        <div class="form-check single-method">
                                            <input class="form-check-input" required type="radio" id="cod"
                                                name="paymentMethod" value="COD">
                                            <label class="form-check-label" for="cod">Cash on Delivery</label>
                                            <p data-method="cash">Please send a Check to Store name with Store Street,
                                                Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                        <div class="form-check single-method">
                                            <input class=" form-check-input" required type="radio" id="payNow"
                                                name="paymentMethod" value="payNow">
                                            <label class="form-check-label" for="payNow">Pay Now</label>
                                            <p data-method="paypal">Please send a Check to Store name with Store Street,
                                                Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>

                                        <div class="single-method form-check">
                                            <input class="form-check-input" required type="checkbox" id="accept_terms"
                                                name="accepTerms">
                                            <label class="form-check-label" for="accept_terms">I've read and accept the
                                                terms &amp;
                                                conditions</label>
                                        </div>
                                        {{!-- svaAddress --}}
                                        <input class="form-control" hidden type="text" name="saveAddress" value="true">
                                    </div>

                                    <button class="place-order btn bttn btn-lg btn-round py-2">Place order</button>

                                </div>

                            </div>
                        </div>

                    </div>
                </form>

                <div class="text-dark my-3">
                    <h4 class="checkout-title mb-3">Choose Address</h4>
                    {{#if userData.address }}
                    {{#each userData.address }}
                    <div>
                        <input class="addressInput" type="radio" name="address" id="{{_id}}"
                            value="{{firstname}}, {{lastname}}, {{mobile}}, {{addr1}}, {{addr2}}, {{town}}, {{state}}, {{country}}, {{zip}}">
                        <label class="ps-2 form-check-label" for="{{_id}}">{{firstname}}, {{lastname}}, {{mobile}},
                            {{addr1}},
                            {{addr2}}, {{town}}, {{state}}, {{country}}, {{zip}}
                            <button class="btn" onclick="deleteAddress(this,'{{_id}}')">
                                <i class="fa fa-close "></i>
                            </button>
                        </label>
                        <br>
                    </div>
                    {{/each}}
                    {{else}}
                    <h6 class="m-5">No saved Address</h6>
                    {{/if}}
                </div>

                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                <script>
                    function deleteAddress(self, id) {
                        const div = $(self).closest('div')
                        $.ajax({
                            url: `${url}/user/delete/address`,
                            method: 'DELETE',
                            data: { addressId: id },
                            success: res => {
                                div.remove()
                            },
                            error: err => {
                                console.log(err)
                            }
                        })
                    }

                    $('.addressInput').click(e => {
                        const [fname, lname, mobile, addr1, addr2, town, state, country, zip] = e.target.value.split(",")

                        $('[name="firstname"]').val(fname)
                        $('[name="lastname"]').val(lname)
                        $('[name="mobile"]').val(mobile)
                        $('[name="addr1"]').val(addr1)
                        $('[name="addr2"]').val(addr2)
                        $('[name="town"]').val(town)
                        $('[name="country"]').val(country)
                        $('[name="state"]').val(state)
                        $('[name="zip"]').val(zip)
                        $('[name="saveAddress"]').val(false)
                    })

                    var url = window.location.origin
                    const placeOrderForm = document.querySelector('#placeOrderForm');
                    placeOrderForm.addEventListener('submit', e => {
                        e.preventDefault()
                        if (!placeOrderForm.checkValidity()) {
                        } else {
                            var formData = new FormData(placeOrderForm)
                            $.ajax({
                                url: `${url}/user/placeorder`,
                                method: 'POST',
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: res => {
                                    if (res.codSuccess) {
                                        // cod
                                        viewOrderDetails(res.orderId)
                                        //window.location.href = `${url}/user/orders`
                                    } else {
                                        // online payment
                                        razorpayPayment(res)
                                    }
                                },
                                error: err => {
                                    console.log(err)
                                }
                            })
                        }
                        placeOrderForm.classList.add('was-validated');
                    })

                    function razorpayPayment(rzpOrder) {
                        var options = {
                            "key": "rzp_test_ts8syQO1KpPeTJ", // Enter the Key ID generated from the Dashboard
                            "amount": rzpOrder.amount,  // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                            "currency": "INR",
                            "name": "Rifurn Ind",
                            "description": "Test Transaction",
                            "image": "/images/logo.png",
                            "order_id": rzpOrder.id,  //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                            "handler": function (response) {
                                verifyPayment(response, rzpOrder)
                            },
                            "prefill": {
                                "name": "Gaurav Kumar",
                                "email": "gaurav.kumar@example.com",
                                "contact": "9000090000"
                            },
                            "notes": {
                                "address": "Razorpay Corporate Office"
                            },
                            "theme": {
                                "color": "#3399cc"
                            }
                        };
                        var rzp1 = new Razorpay(options);
                        rzp1.on('payment.failed', function (response) {
                            console.log(response.error.code);
                            console.log(response.error.description);
                            console.log(response.error.source);
                            console.log(response.error.step);
                            console.log(response.error.reason);
                            console.log(response.error.metadata.order_id);
                            console.log(response.error.metadata.payment_id);
                        });
                        rzp1.open();
                    }

                    function verifyPayment(payment, rzpOrder) {
                        $.ajax({
                            url: '/user/verifypayment',
                            method: 'POST',
                            data: { payment, rzpOrder },
                            success: res => {
                                viewOrderDetails(rzpOrder.receipt)
                            },
                            error: err => {
                                alert(err)
                            }
                        })
                    }
                </script>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="orderDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content rounded-0">
            <div class="container mb-5 mt-3">
                <div class="row d-flex align-items-baseline">
                    <div class="col-xl-9">
                        <p style="color: #7e8d9f;font-size: 14px;">Invoice >> <strong class="paymentId">ID:
                                #123-123</strong></p>
                    </div>
                    <div class="col-xl-3 float-end">
                        <a class="btn btn-light text-capitalize border-0 p-0 me-3" data-mdb-ripple-color="dark"><i
                                class="fas fa-print text-primary"></i></a>
                        <a class="btn btn-light text-capitalize p-0" data-mdb-ripple-color="dark"><i
                                class="far fa-file-pdf text-danger"></i></a>
                    </div>
                    <hr>
                </div>

                <div class="container">
                    <div class="col-md-12">
                        <div class="text-center">
                            <img width="100" src="/images/logo.png" alt="">
                            <p class="pt-0">Rifurn.com</p>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-xl-8">
                            <ul class="list-unstyled">
                                <li class="text-muted"><span id="name" style="color:hsl(202, 7%, 50%) ;">John
                                        Lorem</span>
                                </li>
                                <li class="text-muted" id="addr">Street, City</li>
                                <li class="text-muted" id="sc">State, Country</li>
                                <li class="text-muted" id="mob">
                                    <i class="fas fa-phone"></i> 123-456-789
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-4">
                            <p class="text-muted mb-0 fw-bold">Invoice</p>
                            <ul class="list-unstyled mt-0">
                                <li class="text-muted"><span class="fw-bold">ID: </span><span
                                        class="paymentId">#123-456</span></li>
                                <li class="text-muted"> <span class="fw-bold">Date: </span> <span id="date">Jun 23,2021
                                </li>
                                <li class="text-muted"> <span class="me-1 fw-bold">Status:</span><span
                                        class="text-capitalize" id="status">
                                        Unpaid</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row my-2 mx-1 justify-content-center">
                        <table class="table table-striped table-borderless">
                            <thead style="background-color:#0b0c0c ;" class="text-white">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">

                            </tbody>

                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xl-8">
                            {{!-- <p class="ms-3">Billing address</p> --}}
                        </div>
                        <div class="col-xl-4" style="font-size: 14px;">
                            <p class="text-black mb-1">
                                <span class="text-black me-auto ms-3"> SubTotal</span>
                                <span class="ms-auto subTotal float-end">$1221</span>
                            </p>
                            <p class="text-black mb-1">
                                <span class="text-black me-auto ms-3"> Discount</span>
                                <span class="ms-auto discount float-end">$0</span>
                            </p>
                            <p class="text-black fw-bold">
                                <span class="text-black me-auto ms-3"> Total</span>
                                <span class="ms-auto total float-end">$1221</span>
                            </p>
                        </div>
                    </div>

                    <hr>
                    <div class="row mx-auto">
                        <div class="col-xl-10 ">
                            <p>Thank you for your purchase</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function viewOrderDetails(orderId) {
        console.log(orderId)
        $('#orderDetails').modal('show')
        $.ajax({
            url: `${url}/user/order/details`,
            method: "POST",
            data: { orderId: orderId },
            success: res => {
                $('#name').text(res[0].address.firstname + " " + res[0].address.lastname)
                $('#addr').text(res[0].address.addr1 + ", " + res[0].address.addr2)
                $('#sc').text(res[0].address.state + ", " + res[0].address.country)
                $('#mob').html('<i class="fas fa-phone"></i>' + res[0].address.mobile)
                $('.paymentId').text(res[0].paymentId)
                let date = new Date(res[0].createdAt)
                date = date.toLocaleDateString()
                $('#date').text(date)
                $('#status').text(res[0].orderStatus)
                let total = 0
                res.forEach((data, index) => {
                    $('#tableBody').append(`
                                <tr>
                                    <th scope="row">${index + 1}</th>
                                    <td>
                                        <img src=https://res.cloudinary.com/dz9knbtwi/image/upload/h_100,w_75/${data.image[0]} alt="" srcset="">
                                    </td>
                                    <td>${data.productName}</td>
                                    <td>${data.quantity}</td>
                                    <td>₹${data.price}</td>
                                    <td>₹${data.amount}</td>
                                </tr>
                    `)
                    total += data.amount
                })
                $('.subTotal').text(`₹${total}`)
                $('.discount').text(`₹${res[0].discount}`)
                $('.total').text(`₹${total - res[0].discount}`)

            },
            error: err => {
                console.log(err)
            }
        })
    }
    $('#orderDetails').on('hide.bs.modal', function () {
        window.location.href = `/shop`
    });
</script>