<div class="page-banner-section section bg-image" data-bg="./assets/images/bg/breadcrumb.jpg"
    style="background-image: url(/images/banner.webp);">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h2>Checkout Items</h2>
                    <ul class="page-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>Checkout</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="checkout-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 ">
    <div class="container sb-border pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
        <div class="row my-5">
            <div class="col-12">

                <!-- Checkout Form Start-->
                <form action="/user/placeorder" class="checkout-form" method="POST">
                    <div class="row row-40">
                        <div class="col-lg-7">
                            <!-- Billing Address -->
                            <div id="billing-form" class="mb-10">
                                <h4 class="checkout-title">Billing Address</h4>
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>First Name*</label>
                                        <input type="text" placeholder="First Name" disabled name="firstname"
                                            value="{{userData.firstname}}">
                                    </div>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Last Name*</label>
                                        <input type="text" placeholder="Last Name" disabled name="lastname"
                                            value="{{userData.lastname}}">
                                    </div>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Email Address*</label>
                                        <input type="email" placeholder="Email Address" disabled
                                            value={{userData.email}}>
                                    </div>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Phone no*</label>
                                        <input type="tel" placeholder="Phone number" name="mobile"
                                            value={{userData.mobile}}>
                                    </div>
                                    <div class="col-12 mb-20">
                                        <label>Address*</label>
                                        <input type="text" name="addr1" placeholder="Address line 1" value={{userData.address.addr1}}>
                                        <input type="text" name="addr2" placeholder="Address line 2" value={{userData.address.addr2}}>
                                    </div>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Country</label>
                                        <input type="text" name="country" placeholder="Country" value={{userData.address.country}}>
                                    </div>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Town/City</label>
                                        <input type="text" name="town" placeholder="Town/City" value={{userData.address.town}}>
                                    </div>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>State</label>
                                        <input type="text" name="state" placeholder="State" value={{userData.address.state}}>
                                    </div>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Zip Code</label>
                                        <input type="text" name="zip" placeholder="Zip Code" value={{userData.address.zip}}>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="row">

                                <!-- Cart Total -->
                                <div class="col-12 mb-60">

                                    <h4 class="checkout-title">Cart Total</h4>

                                    <div class="checkout-cart-total">

                                        <h4>Product <span>Total</span></h4>

                                        <ul>
                                            {{#each cartItems }}
                                            <li>{{product}} X {{quantity}}<span>Rs {{subTotal}}</span></li>
                                            {{/each}}
                                        </ul>

                                        <p class="py-0">Sub Total <span>Rs {{total}}</span></p>
                                        <p class="py-0">Shipping Fee <span>$00.00</span></p>

                                        <h4>Grand Total <span>Rs {{total}}</span></h4>

                                    </div>

                                </div>

                                <!-- Payment Method -->
                                <div class="col-12 mb-30">

                                    <h4 class="checkout-title mt-5">Payment Method</h4>

                                    <div class="checkout-payment-method">
                                        <div class="single-method">
                                            <input type="radio" id="payment_cash" name="paymentMethod" value="COD">
                                            <label for="payment_cash">Cash on Delivery</label>
                                            <p data-method="cash">Please send a Check to Store name with Store Street,
                                                Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                        <div class="single-method">
                                            <input type="radio" id="payment_paypal" name="paymentMethod"
                                                value="paypal">
                                            <label for="payment_paypal">Paypal</label>
                                            <p data-method="paypal">Please send a Check to Store name with Store Street,
                                                Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                        <div class="single-method">
                                            <input type="radio" id="payment_payoneer" name="paymentMethod"
                                                value="payoneer">
                                            <label for="payment_payoneer">Payoneer</label>
                                            <p data-method="payoneer">Please send a Check to Store name with Store
                                                Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                        <div class="single-method">
                                            <input type="checkbox" id="accept_terms" name="accepTerms">
                                            <label for="accept_terms">I’ve read and accept the terms &amp;
                                                conditions</label>
                                        </div>
                                    </div>
                                    <button class="place-order btn btn-lg btn-round py-2">Place order</button>

                                </div>

                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>