<div class="page-banner-section section bg-image" data-bg="./assets/images/bg/breadcrumb.jpg"
    style="background-image: url(/images/banner.webp);">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h2>Orders</h2>
                    <ul class="page-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>Orders</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cart-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 ">
    <div class="container sb-border pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
        <div class="row">
            <div class="col-12 my-5">
                <!-- Cart Table -->
                <div class="cart-table table-responsive mb-30">
                    <table id="orderTable" class="table">
                        <thead>
                            <tr>
                                <th class="pro-date">Date</th>
                                <th class="pro-thumbnail">Order-Id</th>
                                <th class="pro-title">Amount</th>
                                <th class="pro-quantity">Status</th>
                                <th class="pro-status">Details</th>
                                <th class="pro-remove">Cancel</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orderData }}
                            <tr data-orderId="{{id}}">
                                <td class="pro-date"><span>{{date}}</span></td>
                                <td class="pro-title"><span>{{id}}</span></td>
                                <td class="pro-title"><span>{{amount}}</span></td>

                                <td class="pro-status"><span class="status text-capitalize text-primary">{{status}}</span></td>
                                {{!-- <td class="pro-price"><span>$25.00</span></td> --}}
                                <td class="pro-status">
                                    <button class="py-2 bttn">Details</button>
                                </td>
                                {{#noteq status "cancelled"}}
                                <td class="pro-remove">
                                    <button data-productId={{id}} onclick="cancelOrder(this)" class="btn px-1">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                                {{else}}
                                <td class="pro-remove">
                                </td>
                                {{/noteq}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('#orderTable').DataTable({
            order: [[0, 'desc']],
        });

        $('table tr:last').remove()
    });

    $('.status').each(function () {
        if (this.innerHTML === "cancelled") {
            this.classList.add('text-danger')
        } else if (this.innerHTML === "dispatched") {
            this.classList.add('text-warning')
        } else if (this.innerHTML === "delivered") {
            this.classList.add('text-success')
        }
    })

    var url = window.location.origin
    function cancelOrder(self) {
        const $tr = $(self).closest('tr')
        const orderId = $tr.attr('data-orderId')
        const prodId = $(self).attr('data-productId')
        const status = $($tr).find('.status')
        swal.fire({
            title: "Delete?",
            text: `Are you sure you want to cancel order`,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        }).then(function (result) {
            if (result.isConfirmed) {
                $.ajax({
                    url: `${url}/user/cancel/order`,
                    method: 'POST',
                    data: { orderId },
                    success: res => {
                        status.html("Cancelled")
                        status.addClass('text-danger')
                        self.remove()
                        console.log(res)
                    },
                    error: err => {
                        console.log(err)
                    }
                })

            }
        })
    }
</script>