<div class="page-banner-section section bg-image" data-bg="./assets/images/bg/breadcrumb.jpg"
    style="background-image: url(/images/banner.webp);">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h2>Orders</h2>
                    <ul class="page-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>Orders</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cart-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 ">
    <div class="container sb-border pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
        <div class="row">
            <div class="col-12 my-5">
                <!-- Cart Table -->
                <div class="cart-table table-responsive mb-30">
                    <table id="orderTable" class="table">
                        <thead>
                            <tr>
                                <th class="pro-date">Date</th>
                                <th class="pro-thumbnail">Order-Id</th>
                                <th class="pro-title">Amount</th>
                                <th class="pro-quantity">Status</th>
                                <th class="pro-status">Details</th>
                                <th class="pro-remove">Cancel</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orderData }}
                            <tr data-orderId="{{id}}">
                                <td class="pro-date"><span>{{date}}</span></td>
                                <td class="pro-title"><span>{{id}}</span></td>
                                <td class="pro-title"><span>₹{{amount}}</span></td>

                                <td class="pro-status"><span
                                        class="status text-capitalize text-primary">{{status}}</span></td>
                                {{!-- <td class="pro-price"><span>$25.00</span></td> --}}
                                <td class="pro-status">
                                    <button class="py-2 bttn" onclick="viewOrderDetails(this)">Details</button>
                                </td>
                                {{#noteq status "cancelled"}}
                                <td class="pro-remove">
                                    <button data-productId={{id}} onclick="cancelOrder(this)" class="btn px-1">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                                {{else}}
                                <td class="pro-remove">
                                </td>
                                {{/noteq}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('#orderTable').DataTable({
            order: [[0, 'desc']],
        });

        $('#orderTable tr:last').remove()
    });

    $('.status').each(function () {
        if (this.innerHTML === "cancelled") {
            this.classList.add('text-danger')
        } else if (this.innerHTML === "dispatched") {
            this.classList.add('text-warning')
        } else if (this.innerHTML === "delivered") {
            this.classList.add('text-success')
        }
    })

    var url = window.location.origin
    function cancelOrder(self) {
        const $tr = $(self).closest('tr')
        const orderId = $tr.attr('data-orderId')
        const prodId = $(self).attr('data-productId')
        const status = $($tr).find('.status')
        swal.fire({
            title: "Delete?",
            text: `Are you sure you want to cancel order`,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        }).then(function (result) {
            if (result.isConfirmed) {
                $.ajax({
                    url: `${url}/user/cancel/order`,
                    method: 'POST',
                    data: { orderId },
                    success: res => {
                        status.html("Cancelled")
                        status.addClass('text-danger')
                        self.remove()
                        console.log(res)
                    },
                    error: err => {
                        console.log(err)
                    }
                })

            }
        })
    }
</script>

<div class="modal fade" id="orderDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content rounded-0">
            <div class="container mb-5 mt-3">
                <div class="row d-flex align-items-baseline">
                    <div class="col-xl-9">
                        <p style="color: #7e8d9f;font-size: 14px;">Invoice >> <strong class="paymentId">ID:
                                #123-123</strong></p>
                    </div>
                    <div class="col-xl-3 float-end">
                        <a class="btn btn-light text-capitalize border-0 p-0 me-3" data-mdb-ripple-color="dark"><i
                                class="fas fa-print text-primary"></i></a>
                        <a class="btn btn-light text-capitalize p-0" data-mdb-ripple-color="dark"><i
                                class="far fa-file-pdf text-danger"></i></a>
                    </div>
                    <hr>
                </div>

                <div class="container">
                    <div class="col-md-12">
                        <div class="text-center">
                            <img width="100" src="/images/logo.png" alt="">
                            <p class="pt-0">Rifurn.com</p>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-xl-8">
                            <ul class="list-unstyled">
                                <li class="text-muted"><span id="name" style="color:hsl(202, 7%, 50%) ;">John
                                        Lorem</span>
                                </li>
                                <li class="text-muted" id="addr">Street, City</li>
                                <li class="text-muted" id="sc">State, Country</li>
                                <li class="text-muted" id="mob">
                                    <i class="fas fa-phone"></i> 123-456-789
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-4">
                            <p class="text-muted mb-0 fw-bold">Invoice</p>
                            <ul class="list-unstyled mt-0">
                                <li class="text-muted"><span class="fw-bold">ID: </span><span
                                        class="paymentId">#123-456</span></li>
                                <li class="text-muted"> <span class="fw-bold">Date: </span> <span id="date">Jun 23,2021
                                </li>
                                <li class="text-muted"> <span class="me-1 fw-bold">Status:</span><span
                                        class="text-capitalize" id="status">
                                        Unpaid</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row my-2 mx-1 justify-content-center">
                        <table class="table table-striped table-borderless">
                            <thead style="background-color:#0b0c0c ;" class="text-white">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">

                            </tbody>

                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xl-8">
                            {{!-- <p class="ms-3">Billing address</p> --}}
                        </div>
                        <div class="col-xl-4 ">
                            <p class="text-black mb-1">
                                <span class="text-black me-auto ms-3"> SubTotal</span>
                                <span class="ms-auto total float-end">$1221</span>
                            </p>
                            <p class="text-black fw-bold">
                                <span class="text-black me-auto ms-3"> Total</span>
                                <span class="ms-auto total float-end">$1221</span>
                            </p>
                        </div>
                    </div>

                    <hr>
                    <div class="row mx-auto">
                        <div class="col-xl-10 ">
                            <p>Thank you for your purchase</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function viewOrderDetails(self) {
        $('#orderDetails').modal('show')
        const tr = $(self).closest('tr')
        const orderId = $(tr).attr('data-orderId')
        $.ajax({
            url: `${url}/admin/order/details`,
            method: "POST",
            data: { orderId: orderId },
            success: res => {
                console.log(res[0].address.mobile)
                $('#name').text(res[0].address.firstname + " " + res[0].address.lastname)
                $('#addr').text(res[0].address.addr1 + ", " + res[0].address.addr2)
                $('#sc').text(res[0].address.state + ", " + res[0].address.country)
                $('#mob').html('<i class="fas fa-phone"></i>' + res[0].address.mobile)
                $('.paymentId').text(res[0].paymentId)
                let date = new Date(res[0].createdAt)
                date = date.toLocaleDateString()
                $('#date').text(date)
                $('#status').text(res[0].orderStatus)

                let total = 0
                res.forEach((data, index) => {
                    $('#tableBody').append(`
                                <tr>
                                    <th scope="row">${index + 1}</th>
                                    <td>
                                        <img src=https://res.cloudinary.com/dz9knbtwi/image/upload/h_100,w_75/${data.image[0]} alt="" srcset="">
                                    </td>
                                    <td>${data.productName}</td>
                                    <td>${data.quantity}</td>
                                    <td>${data.price}</td>
                                    <td>${data.quantity * data.price[0]}</td>
                                </tr>
                    `)
                    total += data.quantity * data.price[0]
                })
                $('.subTotal').text(total)
                $('.total').text(total)

            },
            error: err => {
                console.log(err)
            }
        })
    }

    $('#orderDetails').on('hide.bs.modal', function () {
        $('#tableBody').text('')
    });
</script>