<section style="background-color: #eee;">
    <div class="page-banner-section section bg-image" data-bg="./assets/images/bg/breadcrumb.jpg"
        style="background-image: url(/images/banner.webp);">
        {{!-- <div class="container"> --}}
            <div class="row">
                <div class="col">
                    <div class="page-banner text-center">
                        <h2>Checkout Items</h2>
                        <ul class="page-breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
            {{!--
        </div> --}}
    </div>


    <div class="container py-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="card mb-4">
                    <div class="card-body border d-flex gap-3 p-2 rounded-0">
                        <img class="_3X2gOt" height="50px" width="50px" src="/svgs/profile.svg">
                        <div class="DxGiT2 text-dark strong pt-1">
                            <div class="_2QZ3Er ">Hello,</div>
                            <div class="_1ruvv2 fw-bold fs-6">{{userData.firstname}} {{userData.lastname}}</div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-0">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0"><a href="/user/cart">Cart</a></p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0"><a href="/user/orders">Orders</a></p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0">Options</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0">Settings</p>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="card mb-4 rounded-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0"><a href="/user/logout">Logout</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="card mb-4 rounded-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="editProfile row">
                                <h4 class="col-auto">Name</h4>
                                <button class="btn bttn col-auto noedit" onclick="showEdit(this)">Edit</button>
                                <button class="btn bttn col-auto edit" onclick="cancelEdit(this)">Cancel</button>

                                <form id="editName" class="profile-form" novalidate>
                                    <div class="row my-2">
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" disabled name="fname"
                                                placeholder="First name" value="{{userData.firstname}}" required>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" disabled name="lname"
                                                placeholder="Last name" value="{{userData.lastname}}" required>
                                        </div>
                                        <button type="submit" class="btn bttn col-auto edit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <script>
                            var url = window.location.origin
                            function showEdit(self) {
                                const div = $(self).closest('div')
                                const form = $(div).find('form')
                                const input = $(form).find('input')

                                div.addClass('edit')
                                $(input).prop("disabled", false)
                            }

                            function cancelEdit(self) {
                                const div = $(self).closest('div')
                                const form = $(div).find('form')
                                const input = $(form).find('input')

                                $('#otpVerify').addClass('hide')
                                $('#editEmail').removeClass('hide')
                                div.removeClass('edit')
                                $(input).prop("disabled", true)
                            }

                            $('#editName').on('submit', function (e) {
                                e.preventDefault()
                                const div = $(e.target).closest('div')
                                const fname = $("[name='fname']").val()
                                const lname = $("[name='lname']").val()
                                $.ajax({
                                    url: `${url}/user/edit/name`,
                                    method: 'PUT',
                                    data: { fname, lname },
                                    success: res => {
                                        window.location.reload()
                                    },
                                    error: err => {
                                        console.log(err)
                                    }
                                })

                            })
                        </script>


                        <div class="row">
                            <div class="editProfile row">
                                <h4 class="col-auto">Mobile</h4>
                                <button class="btn bttn col-auto noedit" onclick="showEdit(this)">Edit</button>
                                <button class="btn bttn col-auto edit" onclick="cancelEdit(this)">Cancel</button>

                                <form id="editMobile" class="profile-form" novalidate>
                                    <div class="row my-2">
                                        <div class="col-sm-5">
                                            <input type="tel" class="form-control" disabled name="editMobile"
                                                placeholder="First name" value="{{userData.mobile}}" required>
                                        </div>
                                        <button type="submit" class="btn bttn col-auto edit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <script>
                            $('#editMobile').on('submit', function (e) {
                                e.preventDefault()
                                const div = $(e.target).closest('div')
                                const mobile = $("[name='editMobile']").val()
                                console.log(mobile)
                                $.ajax({
                                    url: `${url}/user/edit/mobile`,
                                    method: 'PUT',
                                    data: { mobile: mobile },
                                    success: res => {
                                        console.log(res)
                                        window.location.reload()
                                    },
                                    error: err => {
                                        console.log(err)
                                    }
                                })
                            })
                        </script>

                        <hr>
                        <div class="row">
                            <div class="editProfile row">
                                <h4 class="col-auto">Email</h4>
                                <button class="btn bttn col-auto noedit" onclick="showEdit(this)">Edit</button>
                                <button class="btn bttn col-auto edit mb-2" onclick="cancelEdit(this)">Cancel</button>

                                <form id="editEmail" class="profile-form" novalidate>
                                    <div class="row my-2">
                                        <div class="col-sm-5">
                                            <input type="email" class="form-control" disabled name="editEmail"
                                                placeholder="email" value="{{userData.email}}" required>
                                        </div>
                                        <button type="submit" class="btn bttn col-auto edit">Send</button>
                                    </div>
                                </form>

                                <form id="otpVerify" class="profile-form hide">
                                    <div class="row myt-2">
                                        <div class="col-sm-5">
                                            <input type="email" class="form-control" disabled name="editEmail"
                                                placeholder="Email" value="" required>
                                        </div>
                                        <div class="col-sm-2 ">
                                            <input type="number" class="form-control " name="OTP" placeholder="OTP"
                                                value="" required>
                                        </div>
                                        <button type="submit" class="btn bttn col-auto edit">Save</button>
                                    </div>
                                    <p class="errMsg text-danger p-0 m-0"></p>
                                </form>
                            </div>
                        </div>

                        {{!-- --}}


                        <script>
                            $('#editEmail').on('submit', function (e) {
                                e.preventDefault()
                                const div = $(e.target).closest('div')
                                const email = $("[name='editEmail']").val()
                                const otp = $("[name='OTP']").val()
                                const hidden = $('.hide')
                                $(hidden).removeClass('hide')
                                $('#editEmail').addClass('hide')
                                $('#otpVerify input[name=editEmail]').val(email)
                                $.ajax({
                                    url: `${url}/user/edit/email`,
                                    method: 'PUT',
                                    data: { email },
                                    success: res => {
                                        //     if (res.msg === 'otpSend') {
                                        //   }
                                        console.log(res)
                                    },
                                    error: err => {
                                        console.log(err)
                                    }
                                })
                            })

                            $('#otpVerify').on('submit', function (e) {
                                e.preventDefault()
                                const div = $(e.target).closest('div')
                                const email = $("#otpVerify [name='editEmail']").val()
                                const otp = $("[name='OTP']").val()
                                const hidden = $('.hide')
                                $.ajax({
                                    url: `${url}/user/edit/email`,
                                    method: 'PUT',
                                    data: { email, OTP: otp },
                                    success: res => {
                                        if(res === "Invalid Otp") {
                                            $('.errMsg').text(res)
                                        }
                                        console.log(res)
                                        //window.location.reload()
                                    },
                                    error: err => {
                                        console.log(err)
                                    }
                                })
                            })
                        </script>
                        {{!--
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div> --}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>