<section style="background-color: #eee;">
    <div class="page-banner-section section bg-image" data-bg="./assets/images/bg/breadcrumb.jpg"
        style="background-image: url(/images/banner.webp);">
        {{!-- <div class="container"> --}}
            <div class="row">
                <div class="col">
                    <div class="page-banner text-center">
                        <h2>User Profile </h2>
                        <ul class="page-breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
            {{!--
        </div> --}}
    </div>


    <div class="container py-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="card mb-4">
                    <div class="card-body border d-flex gap-3 p-2 rounded-0">
                        <img class="_3X2gOt" height="50px" width="50px" src="/svgs/profile.svg">
                        <div class="DxGiT2 text-dark strong pt-1">
                            <div class="_2QZ3Er ">Hello,</div>
                            <div class="_1ruvv2 fw-bold fs-6">{{userData.firstname}} {{userData.lastname}}</div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body p-0">
                        <ul class="list-group profileMenu list-group-flush rounded-0">
                            <li class="list-group-item  d-flex justify-content-between align-items-center p-3"
                                data-target="profile">Profile
                            </li>

                            <li class="list-group-item  d-flex justify-content-between align-items-center p-3"
                                data-target="address">Address
                            </li>
                            <li class="list-group-item  d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0"><a href="/user/cart">Cart</a></p>
                            </li>
                            <li class="list-group-item  d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0"><a href="/user/orders">Orders</a></p>
                            </li>
                            <li class="list-group-item  d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0">Options</p>
                            </li>
                            <li class="list-group-item  d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0">Settings</p>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="card mb-4 rounded-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0"><a href="/user/logout">Logout</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="card view mb-4 rounded-0 profile profile-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="editProfile row">
                                <h4 class="col-auto">Name</h4>
                                <button class="btn bttn col-auto noedit" onclick="showEdit(this)">Edit</button>
                                <button class="btn bttn col-auto edit" onclick="cancelEdit(this)">Cancel</button>

                                <form id="editName" class="profile-form" novalidate>
                                    <div class="row my-2">
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" disabled name="fname"
                                                placeholder="First name" value="{{userData.firstname}}" required>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" disabled name="lname"
                                                placeholder="Last name" value="{{userData.lastname}}" required>
                                        </div>
                                        <button type="submit" class="btn bttn col-auto edit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <script>
                            var url = window.location.origin
                            function showEdit(self) {
                                const div = $(self).closest('div')
                                const form = $(div).find('form')
                                const input = $(form).find('input')

                                div.addClass('edit')
                                $(input).prop("disabled", false)
                            }

                            function cancelEdit(self) {
                                const div = $(self).closest('div')
                                const form = $(div).find('form')
                                const input = $(form).find('input')

                                $('#otpVerify').addClass('hide')
                                $('#editEmail').removeClass('hide')
                                div.removeClass('edit')
                                $(input).prop("disabled", true)
                            }

                            $('#editName').on('submit', function (e) {
                                e.preventDefault()
                                const div = $(e.target).closest('div')
                                const fname = $("[name='fname']").val()
                                const lname = $("[name='lname']").val()
                                $.ajax({
                                    url: `${url}/user/edit/name`,
                                    method: 'PUT',
                                    data: { fname, lname },
                                    success: res => {
                                        window.location.reload()
                                    },
                                    error: err => {
                                        console.log(err)
                                    }
                                })

                            })
                        </script>


                        <div class="row">
                            <div class="editProfile row">
                                <h4 class="col-auto">Mobile</h4>
                                <button class="btn bttn col-auto noedit" onclick="showEdit(this)">Edit</button>
                                <button class="btn bttn col-auto edit" onclick="cancelEdit(this)">Cancel</button>

                                <form id="editMobile" class="profile-form" novalidate>
                                    <div class="row my-2">
                                        <div class="col-sm-5">
                                            <input type="tel" class="form-control" disabled name="editMobile"
                                                placeholder="First name" value="{{userData.mobile}}" required>
                                        </div>
                                        <button type="submit" class="btn bttn col-auto edit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <script>
                            $('#editMobile').on('submit', function (e) {
                                e.preventDefault()
                                const div = $(e.target).closest('div')
                                const mobile = $("[name='editMobile']").val()
                                console.log(mobile)
                                $.ajax({
                                    url: `${url}/user/edit/mobile`,
                                    method: 'PUT',
                                    data: { mobile: mobile },
                                    success: res => {
                                        console.log(res)
                                        window.location.reload()
                                    },
                                    error: err => {
                                        console.log(err)
                                    }
                                })
                            })
                        </script>

                        <hr>
                        <div class="row">
                            <div class="editProfile row">
                                <h4 class="col-auto">Email</h4>
                                <button class="btn bttn col-auto noedit" onclick="showEdit(this)">Edit</button>
                                <button class="btn bttn col-auto edit mb-2" onclick="cancelEdit(this)">Cancel</button>

                                <form id="editEmail" class="profile-form" novalidate>
                                    <div class="row my-2">
                                        <div class="col-sm-5">
                                            <input type="email" class="form-control" disabled name="editEmail"
                                                placeholder="email" value="{{userData.email}}" required>
                                        </div>
                                        <button type="submit" class="btn bttn col-auto edit">Send</button>
                                    </div>
                                </form>

                                <form id="otpVerify" class="profile-form hide">
                                    <div class="row myt-2">
                                        <div class="col-sm-5">
                                            <input type="email" class="form-control" disabled name="editEmail"
                                                placeholder="Email" value="" required>
                                        </div>
                                        <div class="col-sm-2 ">
                                            <input type="number" class="form-control " name="OTP" placeholder="OTP"
                                                value="" required>
                                        </div>
                                        <button type="submit" class="btn bttn col-auto edit">Save</button>
                                    </div>
                                    <p class="errMsg text-danger p-0 m-0"></p>
                                </form>
                            </div>
                        </div>

                        {{!-- --}}


                        <script>
                            $('#editEmail').on('submit', function (e) {
                                e.preventDefault()
                                const div = $(e.target).closest('div')
                                const email = $("[name='editEmail']").val()
                                const otp = $("[name='OTP']").val()
                                const hidden = $('.hide')
                                $(hidden).removeClass('hide')
                                $('#editEmail').addClass('hide')
                                $('#otpVerify input[name=editEmail]').val(email)
                                $.ajax({
                                    url: `${url}/user/edit/email`,
                                    method: 'PUT',
                                    data: { email },
                                    success: res => {
                                        //     if (res.msg === 'otpSend') {
                                        //   }
                                        console.log(res)
                                    },
                                    error: err => {
                                        console.log(err)
                                    }
                                })
                            })

                            $('#otpVerify').on('submit', function (e) {
                                e.preventDefault()
                                const div = $(e.target).closest('div')
                                const email = $("#otpVerify [name='editEmail']").val()
                                const otp = $("[name='OTP']").val()
                                const hidden = $('.hide')
                                $.ajax({
                                    url: `${url}/user/edit/email`,
                                    method: 'PUT',
                                    data: { email, OTP: otp },
                                    success: res => {
                                        if (res === "Invalid Otp") {
                                            $('.errMsg').text(res)
                                        }
                                        console.log(res)
                                        //window.location.reload()
                                    },
                                    error: err => {
                                        console.log(err)
                                    }
                                })
                            })
                        </script>

                    </div>
                </div>

                <div class="card view mb-4 rounded-0 address address-card hide">
                    <div class="card-body">
                        <div class="row">

                            <div id="chooseAddress" class="text-dark my-3">
                                <h4 class="checkout-title mb-3">Saved Addresses</h4>
                                {{#if userData.address }}
                                {{#each userData.address }}
                                <div class="d-flex align-items-center">
                                    <input class="addressInput" type="radio" name="address" id="{{_id}}"
                                        value="{{firstname}}, {{lastname}}, {{mobile}}, {{addr1}}, {{addr2}}, {{town}}, {{state}}, {{country}}, {{zip}}">
                                    <label class="ps-2 form-check-label" for="{{_id}}">{{firstname}}, {{lastname}},
                                        {{mobile}},
                                        {{addr1}},
                                        {{addr2}}, {{town}}, {{state}}, {{country}}, {{zip}}
                                        <button class="btn" onclick="editAddress(this,'{{_id}}')">
                                            <i class="fa fa-pen-to-square"></i>
                                        </button>
                                        <button class="btn" onclick="deleteAddress(this,'{{_id}}')">
                                            <i class="fa fa-close "></i>
                                        </button>
                                    </label>
                                    <br>
                                </div>
                                {{/each}}
                                {{else}}
                                <h6 class="m-5 savedAddress">No saved Address</h6>
                                {{/if}}
                            </div>
                            <hr>

                            <script>
                                function editAddress(self, addId) {
                                    deleteAddress(self, addId)
                                    const div = $(self).closest('div')
                                    const input = $(div).find('input')
                                    const address = input.val().split(',')

                                    $('.address-form [name=firstname]').val(address[0])
                                    $('.address-form [name=lastname]').val(address[1])
                                    $('.address-form [name=mobile]').val(Number(address[2]))
                                    $('.address-form [name=addr1]').val(address[3])
                                    $('.address-form [name=addr2]').val(address[4])
                                    $('.address-form [name=town]').val(address[5])
                                    $('.address-form [name=state]').val(address[6])
                                    $('.address-form [name=country]').val(address[7])
                                    $('.address-form [name=zip]').val(address[8])
                                }
                            </script>

                            <form action="/user/address/save" class="address-form" method="" novalidate>
                                <div class="editAddress row">
                                    <h4 class="checkout-title mb-3 text-dark">Add new</h4>
                                    <div class="col-md-6 col-12 mb-2">
                                        <label>First Name</label>
                                        <input class="form-control" required type="text" placeholder="First Name"
                                            name="firstname" value="">
                                    </div>
                                    <div class="col-md-6 col-12 mb-2">
                                        <label>Last Name</label>
                                        <input class="form-control" required type="text" placeholder="Last Name"
                                            name="lastname" value="">
                                    </div>

                                    <div class="col-md-6 col-12 mb-2">
                                        <label>Phone no</label>
                                        <input class="form-control" required type="number" placeholder="Phone number"
                                            name="mobile" value="">
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label>Address</label>
                                        <input class="form-control" required type="text" name="addr1"
                                            placeholder="Address line 1" value={{userData.address.addr1}}>
                                        <input class="form-control mt-2" required type="text" name="addr2"
                                            placeholder="Address line 2" value="">
                                    </div>
                                    <div class="col-md-6 col-12 mb-2">
                                        <label>Country</label>
                                        <input class="form-control" required type="text" name="country"
                                            placeholder="Country" value="">
                                    </div>
                                    <div class="col-md-6 col-12 mb-2">
                                        <label>Town/City</label>
                                        <input class="form-control" required type="text" name="town"
                                            placeholder="Town/City" value={{userData.address.town}}>
                                    </div>
                                    <div class="col-md-6 col-12 mb-2">
                                        <label>State</label>
                                        <input class="form-control" required type="text" name="state"
                                            placeholder="State" value={{userData.address.state}}>
                                    </div>
                                    <div class="col-md-6 col-12 mb-2">
                                        <label>Zip Code</label>
                                        <input class="form-control" required type="text" name="zip"
                                            placeholder="Zip Code" value={{userData.address.zip}}>
                                    </div>
                                </div>
                                <button class="btn bttn mb-3 py-2 saveBtn">Save</button>
                            </form>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script>

    function deleteAddress(self, id) {
        const div = $(self).closest('div')
        $.ajax({
            url: `${url}/user/delete/address`,
            method: 'DELETE',
            data: { addressId: id },
            success: res => {
                div.remove()
            },
            error: err => {
                console.log(err)
            }
        })
    }
    $('.address-form').submit(function (e) {
        e.preventDefault()
        if (!e.target.checkValidity()) {
            e.target.classList.add('was-validated');
        } else {
            var formData = new FormData(e.target)
            $.ajax({
                url: `/user/address/save`,
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: res => {
                    $('.savedAddress').remove()
                    $('.address-form input').val('')
                    $('#chooseAddress').append(
                        `<div class="d-flex align-items-center">
                            <input class="addressInput" type="radio" name="address" id="${res._id}"
                                value="${res.firstname}, ${res.lastname}, ${res.mobile}, ${res.addr1}, ${res.addr2}, ${res.town}, ${res.state}, ${res.country}, ${res.zip}">
                                <label class="ps-2 form-check-label" for="${res._id}">${res.firstname}, ${res.lastname},
                                    ${res.mobile},
                                    ${res.addr1},
                                    ${res.addr2}, ${res.town}, ${res.state}, ${res.country}, ${res.zip}
                                    <button class="btn" onclick="editAddress(this,'${res._id}')">
                                        <i class="fa fa-pen-to-square"></i>
                                    </button>
                                    <button class="btn" onclick="deleteAddress(this,'${res._id}')">
                                        <i class="fa fa-close "></i>
                                    </button>
                                </label>
                                <br>
                                </div>`
                    )
                    console.log("🚀 ~ file: profile.hbs:390 ~ res:", res)
                },
                error: err => {
                    console.log(err)
                }
            })
        }
        //e.target.classList.add('was-validated');

    })

    // $('.profileMenu').delegate('li', 'click', function (e) {
    $('.profileMenu').on('click', function (e) {
        let target = "." + $(e.target).attr('data-target')
        $('.card.view').addClass('hide')
        $(target).removeClass('hide')
    })
</script>