{{!-- <div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="nUdcwy border d-flex gap-3 p-2">
                <img class="_3X2gOt" height="50px" width="50px" src="/svgs/profile.svg">
                <div class="DxGiT2 text-dark strong pt-1">
                    <div class="_2QZ3Er ">Hello,</div>
                    <div class="_1ruvv2 fw-bold fs-6">Rizwan C</div>
                </div>
            </div>
        </div>
    </div>
</div> --}}

<section style="background-color: #eee;">
    <div class="page-banner-section section bg-image" data-bg="./assets/images/bg/breadcrumb.jpg"
        style="background-image: url(/images/banner.webp);">
        {{!-- <div class="container"> --}}
            <div class="row">
                <div class="col">
                    <div class="page-banner text-center">
                        <h2>Checkout Items</h2>
                        <ul class="page-breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
            {{!--
        </div> --}}
    </div>


    <div class="container py-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="card mb-4">
                    <div class="card-body border d-flex gap-3 p-2">
                        <img class="_3X2gOt" height="50px" width="50px" src="/svgs/profile.svg">
                        <div class="DxGiT2 text-dark strong pt-1">
                            <div class="_2QZ3Er ">Hello,</div>
                            <div class="_1ruvv2 fw-bold fs-6">{{userData.firstname}} {{userData.lastname}}</div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-0">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0"><a href="/user/cart">Cart</a></p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0"><a href="/user/orders">Orders</a></p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0">Options</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0">Settings</p>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-0">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0"><a href="/user/logout">Logout</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="editProfile row">
                                <h4 class="col-auto">Name</h4>
                                <button class="btn bttn col-auto noedit" onclick="showEdit(this)">Edit</button>
                                <button class="btn bttn col-auto edit" onclick="cancelEdit(this)">Cancel</button>

                                <form id="editName" class="profile-form" novalidate>
                                    <div class="row my-2">
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" disabled name="fname"
                                                placeholder="First name" value="{{userData.firstname}}" required>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" disabled name="lname"
                                                placeholder="Last name" value="{{userData.lastname}}" required>
                                        </div>
                                        <button type="submit" class="btn bttn col-auto edit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <script>
                            var url = window.location.origin
                            function showEdit(self) {
                                const div = $(self).closest('div')
                                div.addClass('edit')
                                $('input').prop("disabled", false)
                            }

                            function cancelEdit(self) {
                                const div = $(self).closest('div')
                                div.removeClass('edit')
                                $('input').prop("disabled", true)
                            }

                            $('#editName').on('submit', function (e) {
                                e.preventDefault()
                                const div = $(e.target).closest('div')
                                const fname = $("[name='fname']").val()
                                const lname = $("[name='lname']").val()

                                $.ajax({
                                    url: `${url}/user/edit/name`,
                                    method: 'PUT',
                                    data: { fname, lname },
                                    success: res => {
                                        window.location.reload()
                                    },
                                    error: err => {
                                        console.log(err)
                                    }
                                })

                            })

                        </script>


                        <div class="row">
                            <div class="editProfile row">
                                <h4 class="col-auto">Mobile</h4>
                                <button class="btn bttn col-auto noedit" onclick="showEdit(this)">Edit</button>
                                <button class="btn bttn col-auto edit" onclick="cancelEdit(this)">Cancel</button>

                                <form id="editMobile" class="profile-form" novalidate>
                                    <div class="row my-2">
                                        <div class="col-sm-5">
                                            <input type="tel" class="form-control" disabled name="mobile"
                                                placeholder="First name" value="{{userData.mobile}}" required>
                                        </div>
                                        <button type="submit" class="btn bttn col-auto edit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                    </div> --}}
                </div>
                {{!-- <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project
                                    Status
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project
                                    Status
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
</section>