{{!-- {{> individualProduct}} --}}
<style>
    .product-btn {
        font-size: 12px !important;
    }
</style>
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12" sstyle="margin-left: 5vw;">
            <div class="shop-area sb-border pb-70 pb-lg-50 pb-md-40 pb-sm-60 pb-xs-50">

                <div class="row">
                    <div class="col-lg-2 order-lg-1 order-2">

                        <!-- Single Sidebar Start  -->
                        <div class="row common-sidebar-widget">
                            <h3 class="sidebar-title">Search</h3>
                            <form action="" id="searchForm">
                                <input type="text" class="form-control" name="search" id="searchProducts" placeholder=""
                                    style="width: 100%;">
                                {{!-- <button class="btn bttn py-1 mt-3">Search</button> --}}
                            </form>
                        </div>

                        <script>
                            const searchProducts = $('#searchProducts')
                            searchProducts.keyup((e) => {
                                $.ajax({
                                    url: `/shop/search?q=${searchProducts.val()}`,
                                    method: "GET",
                                    success: res => {
                                        showSearchResult(res)
                                    },
                                    error: err => {
                                        console.log(err)
                                    }
                                })
                            })


                        </script>

                        <div class="common-sidebar-widget mb-0">
                            <h3 class="sidebar-title">Product categories</h3>
                            <ul class="sidebar-list">
                                {{#each categories }}
                                <li class="active">
                                    <a href="/shop/category/{{_id}}">
                                        <i class="fa fa-plus"></i>
                                        {{result.category}}
                                        <span> ({{count}})</span>
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <!-- Single Sidebar End  -->
                        {{!-- <!-- Single Sidebar Start  -->
                        <div class="common-sidebar-widget">
                            <h3 class="sidebar-title">Filter by price</h3>
                            <div class="sidebar-price">
                                <div id="price-range"
                                    class="mb-20 ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all"
                                        style="left: 0%; width: 90%;"></div><span
                                        class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                                        style="left: 0%;"></span><span
                                        class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                                        style="left: 90%;"></span>
                                </div>
                                <button type="button" class="btn">Filter</button>
                                <input type="text" id="price-amount" class="price-amount" readonly="">
                            </div>
                        </div>
                        <!-- Single Sidebar End  --> --}}

                        <!-- Single Sidebar Start  -->
                        <div class="common-sidebar-widget">
                            <h3 class="sidebar-title">Tags</h3>
                            <ul class="sidebar-tag">
                                {{#each categories }}
                                <li>
                                    <a href="/shop/category/{{_id}}">
                                        {{result.category}}
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <!-- Single Sidebar End  -->

                        <!-- Single Sidebar Start  -->
                        <div class="common-sidebar-widget">
                            <h3 class="sidebar-title">Filter by</h3>
                            <ul class="sidebar-list">
                                <li><a href="#"><i class="ion-plus"></i>Gold</a></li>
                                <li><a href="#"><i class="ion-plus"></i>Green</a></li>
                                <li><a href="#"><i class="ion-plus"></i>White</a></li>
                            </ul>
                        </div>
                        <!-- Single Sidebar End  -->
                    </div>
                    <div class="col-lg-9 order-lg-2 order-1">
                        <div class="row">
                            <div class="col-12">
                                <div class="shop-product">
                                    <div id="myTabContent-2" class="tab-content">

                                        {{> individualProduct}}

                                    </div>
                                    <script>
                                        var url = window.location.origin
                                        function addtoCart(self) {
                                            const productId = $(self).attr('data-productId')
                                            $.ajax({
                                                url: `${url}/user/addtocart`,
                                                method: "POST",
                                                data: { productId: productId },
                                                success: res => {
                                                    if (res == "Out of stock") {
                                                        Swal.fire({
                                                            icon: 'error',
                                                            title: 'Sorry...',
                                                            text: 'Product out of stock!',
                                                        })
                                                    }
                                                    if (res == "Product added to cart") {
                                                        Swal.fire({
                                                            icon: 'success',
                                                            text: 'Product added to cart!',
                                                        })
                                                    }
                                                },
                                                error: err => {
                                                    alert("Product didn't added to cart")
                                                }
                                            })
                                        }

                                        function addtowishlist(id) {
                                            $.ajax({
                                                url: `${url}/user/add/wishlist/${id}`,
                                                method: "GET"
                                            })
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showSearchResult(result) {
        let products = '<div class="container"><div class="row">'
        result.forEach(p => {
            products += `<div class="col-md-3" style="display: inline-block;">
                                            <!--  Single Grid product Start -->
                                            <div class="single-grid-product mb-4">
                                                <div class="product-image">
                                                    <a href="/product/view/${p._id}" tabindex="0">
                                                        <img src="http://res.cloudinary.com/dz9knbtwi/image/upload/v1680054685/${p.images[0]}.webp"
                                                            class="img-fluid" alt="" style="border:1px solid hsla(0, 0%, 57%, 0.5)">
                                                        <img src="http://res.cloudinary.com/dz9knbtwi/image/upload/v1680054685/${p.images[1]}.webp"
                                                            class="img-fluid" alt="" style="border:1px solid hsla(0, 0%, 57%, 0.5)">
                                                    </a>

                                                    <div class="product-action d-flex justify-content-between align-items-center">
                                                        <button class="btn bttn  btn-link product-btn text-decoration-none py-0 px-2 border-0" data-productId="${p._id}"
                                                            onclick="addtoCart(this)" tabindex="0">Add to
                                                            Cart</button>
                                                        <button class="btn btn-link p-0" onclick="addtowishlist('${p._id}')" tabindex="0">
                                                            <i class="add-to-wish fa-regular fa-heart"></i>
                                                        </button>
                                                    </div>

                                                </div>
                                                <div class="product-content">
                                                    <div class="product-category-rating">
                                                        <span class="category"><a href="/shop" tabindex="0">${p.category.category}</a></span>
                                                        <span class="rating">
                                                            <i class="fa-solid fa-star" style="color: hsla(0, 0%, 57%, 0.7);"></i>
                                                            <i class="fa-solid fa-star" style="color: hsla(0, 0%, 57%, 0.7);;"></i>
                                                            <i class="fa-solid fa-star" style="color: hsla(0, 0%, 57%, 0.7);;"></i>
                                                            <i class="fa-solid fa-star" style="color: hsla(0, 0%, 57%, 0.7);;"></i>
                                                            <i class="fa-solid fa-star-half-stroke" style="color: hsla(0, 0%, 57%, 0.7);;"></i>
                                                            {{!-- < i class="fa-regular fa-star" style="color: #8de41b;"></i>
                                                        <i class="fa-solid fa-star-half-stroke" style="color: #8de41b;"></i> --}}

                                                    </span>
                                                </div>

                                                <h3 class="title mb-1"> <a style="color: hsla(0, 0%, 0%, 0.85)" href="single-product.html"
                                                    tabindex="0">${p.productName}</a></h3>
                                                <p class="product-price"><span class="discounted-price">${p.price}</span></p>
                                            </div>
                                        </div >
                                    </div >
                                    
                                    `
        })
        products += '</div></div>'

        $('#myTabContent-2').html(products)

    }
</script>