<div class="page-banner-section section bg-image" data-bg="/images/banner.webp"
    style="background-image: url(/images/banner.webp);">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h2>Single Product</h2>
                    <ul class="page-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>{{product.productName}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
<div class="container mt-5">
    <div class="row">
        <div id="img-container" class="col-md-6">
            <img id="imgViewer" style="width: 100%"
                src="http://res.cloudinary.com/dz9knbtwi/image/upload/v1680054685/{{product.images.[0]}}.webp" alt="">
        </div>
        <script>
            var options = {
                width: 450,
                zoomWidth: 500,
                zoomHeight: 300,
                offset: { vertical: 0, horizontal: 50 },
                zoomPosition: "left"
            };
            new ImageZoom(document.getElementById("img-container"), options);

        </script>
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>{{product.productName}}</h5>
            <span class="rating fs-6">
                <i class="fa-solid fa-star" style="color: hsl(48, 92%, 51%);"></i>
                <i class="fa-solid fa-star" style="color: hsl(48, 92%, 51%);"></i>
                <i class="fa-solid fa-star" style="color: hsl(48, 92%, 51%);"></i>
                <i class="fa-solid fa-star" style="color: hsl(48, 92%, 51%);;"></i>
                <i class="fa-regular fa-star" style="color: hsla(0, 0%, 57%, 0.7);"></i>
                {{!-- <i class="fa-regular fa-star" style="color: #8de41b;"></i>
                <i class="fa-solid fa-star-half-stroke" style="color: #8de41b;"></i> --}}
            </span>
            <p class="product-price mt-3"><span class="discounted-price fs-5">{{product.price}}</span></p>
            <p class="product-description">{{product.description}}</p>
            <div class=" single-product-quantity ">
                <form class="row add-quantity" action="#">
                    <div class="col-2 product-quantity">
                        <input value="1" type="number">
                    </div>
                    <div class="col-5 border turn-red" data-productId={{product._id}} onclick="addtoCart(this)">
                        <button class="btn align-middle pt-3"><i class="fa-solid fa-bag-shopping"></i></i>add to
                            cart</button>
                    </div>
                </form>
                <div class="row mt-3">
                    <div class="col-6 border turn-red">
                        <button class="btn py-3 align-middle" onclick="addtowishlist('{{product._id}}')"
                            data-productId={{product._id}}><i class="fa-regular fa-heart"></i></i>add to
                            wishlist</button>
                    </div>
                </div>
            </div>
            <div class="product-meta">
                <span class="posted-in">
                    Category:
                    <a href="#">{{product.category.category}}</a>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="mt-3 mb-5" tabindex="0">
        {{#each product.images}}
        <img class="productImage" style="width: 140px; border:2px solid hsla(0, 0%, 57%, 0.3)"
            src="http://res.cloudinary.com/dz9knbtwi/image/upload/v1680054685/{{this}}.webp" alt="">
        {{/each}}
    </div>
</div>

<script>
    let $imgViewer = $('#imgViewer')
    $('.productImage').on('click', function () {
        $(imgViewer).attr('src', $(this).attr('src'))
        new ImageZoom(document.getElementById("img-container"), options);

    })

    var url = window.location.origin
    function addtoCart(self) {
        const productId = $(self).attr('data-productId')
        $.ajax({
            url: `${url}/user/addtocart`,
            method: "POST",
            data: { productId: productId },
            success: res => {
                if (res == "Out of stock") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Sorry...',
                        text: 'Product out of stock!',
                    })
                }
                if (res == "Product added to cart") {
                    Swal.fire({
                        icon: 'success',
                        text: 'Product added to cart!',
                    })
                }
            },
            error: err => {
                alert("Product didn't added to cart")
            }
        })
    }

    function addtowishlist(id) {
        $.ajax({
            url: `${url}/user/add/wishlist/${id}`,
            method: "GET"
        })
    }
</script>